.html-diff-create-text-wrapper {
  background: #D4EEE9;
}

.html-diff-delete-text-wrapper {
  color: #8E3EE2;
  text-decoration-color: #7024C0;
  text-decoration-line: line-through;
}

.html-diff-create-inline-wrapper,
.html-diff-delete-inline-wrapper,
.html-diff-create-block-wrapper,
.html-diff-delete-block-wrapper {
  position: relative;
  align-items: center;
  flex-direction: row;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
  }
  .html-diff-close-icon {
    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 17px);
      left: 50%;
      width: 4px;
      height: 34px;
      content: '';
      border-radius: 2px;
      background-color: #7B2CCF;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.html-diff-create-inline-wrapper::after,
.html-diff-create-block-wrapper::after {
  background: rgba(212, 238, 233, .7);
}

.html-diff-delete-inline-wrapper::after,
.html-diff-delete-block-wrapper::after {
  background: rgba(222, 207, 227, 0.7);
}

.html-diff-create-block-wrapper,
.html-diff-delete-block-wrapper {
  display: flex;
  width: 100%;
}

.html-diff-create-inline-wrapper,
.html-diff-delete-inline-wrapper {
  display: inline-flex;
}
